date {
  font-family: monospace;
}

section {
  background-color: #e0e0e0;
  box-shadow: 10px 10px 20px #bbb;
  border: 4px solid #e0e0e0;
  border-radius: 20px;
  max-width: 60%;
  padding: 20px;
  margin: 0 auto 40px;
  line-height: 1.5;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

p:hover {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

footer {
  font-family: "Open Sans";
  font-size: 13px;
  color: #616161;
}

hr {
  opacity: 0.4;
}
